// variables
$screen-width: 225px;
.heading{
    padding-left: 5px;
}
#heatmapContainer {
  width: $screen-width;
  cursor: pointer;
  height: 400px;
  bottom: 0;
  padding: 0;
  background-size: 100% 100%;
  border-top: 1px solid #757575;
  border-bottom: 1px solid #757575;
  .overlay {
    height: 100%;
    opacity: 0.5;
    background-color: #a0a0a0;
  }
  .heatmap-tooltip {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 5px 5px 11px;
    opacity: 1;
  }
  .mouseCircle {
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    padding: 5px;
    opacity: 0.5;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 1px solid white;
    background-color: #9dc5c3;
    background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);
  }
}
